<div class="container">
  <div class="header">
    <a  class="back-button" (click)="navigateToPaginaMujer()">
      <img src="assets/atras.png" >
    </a>
  </div>
  <div class="txt-title-deporte">
    Style
  </div>
  
  <div class="img-deporte">
    <img src="assets/ropa.png" alt="Deporte">
  </div>
  
  <div class="txt-subtitle-deporte">
    Deporte
  </div>
  
  <div class="txt-desc-deporte">
    Ropa deportiva funcional y cómoda: colores transpirables, estilos dinámicos y confort para tus entrenamientos.
  </div>
  
  <button class="btn-select-deporte">
    Seleccionar
  </button>
</div>