<div class="main-container">
  <div class="header">
    <a href="#" class="back-button">
      <img src="assets/atras.png" alt="Back Arrow">
    </a>
  </div>

  <div>
    <h1 class="style-title">
    <span class="pink">Sty</span><span class="blue">le</span>
  </h1>
  <br>
  <br>

  </div>
  <button class="upload-button">
    <img src="assets/camera.png" alt="Camera Icon">
    Sube tu foto
  </button>

  <div class="categories">
    <button class="category-button party">
      <img src="assets/party.png" alt="Party Icon">
      Fiesta
    </button>
    <button class="category-button casual" (click)="navigateToCuerpo()">
      <img src="assets/vestido.png" alt="Casual Icon">
      Casual
    </button>
    <button class="category-button work">
      <img src="assets/work.png" alt="Work Icon">
      Trabajo
    </button>
    <button class="category-button sport">
      <img src="assets/deporte.png" alt="Sport Icon">
      Deporte
    </button>
  </div>

  <div class="profile">
    <img src="assets/mujer.png" alt="Profile Avatar">
  </div>
</div>