.container {
  width: 100%;
  height: 100vh;
  background-color: #5DADE2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.txt-title-fiesta {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin-top: 50px;
  font-size: 42px;
  font-weight: bold;
  color: #4A90E2;
  text-shadow: 0 0 8px #FFFFFF;
}

.img-fiesta {
  width: 250px;
  height: 250px;
  background-color: #FFFFFF;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.txt-subtitle-fiesta {
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

.txt-desc-fiesta {
  width: 300px;
  height: fit-content;
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: #F9F9F9;
  line-height: 1.4;
}

.btn-select-fiesta {
  width: 200px;
  height: 50px;
  background-color: #2979FF;
  color: #FFFFFF;
  border: none;
  border-radius: 20px; /* Ajustado el radio */
  margin-top: 25px;
  font-size: 16px;
  cursor: pointer;
  text-transform: none;
  
  &:hover {
    opacity: 0.9;
  }
  
  &:active {
    transform: scale(0.98);
  }
}