<div class="face-scan-container">
 <h1 class="style-title">
    <span class="pink">Sty</span><span class="blue">le</span>
  </h1>
  <div class="gender-buttons">
    <button class="gender-button female" (click)="navigateToPaginaMujer()">Mujer</button>
    <button class="gender-button male" (click)="navigateToPaginaHOmbre()">Hombre</button>
  </div>
  <div class="camera-area" type="button">
    <div class="camera-icon">
      <img src="assets/camera.png" alt="Camera Icon">
    </div>
    <p class="camera-text">Coloca tu cara frente a la cámara</p>
  </div>
  <button class="scan-button">Escanear rostro</button>
</div>