.face-scan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9e7e7; /* Fondo rosa claro */
  padding: 2rem;
  text-align: center;

  .style-title {
    font-size: 4rem;
    color: #f06292; /* Título rosa */
    margin-bottom: 2rem;
    
  }
  
  .pink {
    color: #f06292; 
  }

  .blue {
    color: #3498db; 
  }

  .gender-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .gender-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;

    &.female {
      background-color: #f06292; /* Rosa para Mujer */
      color: #fff;
      margin-right: 1rem;

      &:hover {
        background-color: #e0407a; /* Rosa más oscuro al hacer hover */
        color: #fff;
      }
    }

    &.male {
      background-color: #5dade2; /* Blanco para Hombre */
      color: #fff;

      &:hover {
        background-color: #4a90e2; /* Azul al hacer hover */
        color: #fff;
      }
    }
  }

  .camera-area {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .camera-text {
      font-size: 1rem;
      color: #555;
    }
  }

  .scan-button {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 25px;
    background-color: #f06292; /* Botón rosa */
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #e0407a; /* Rosa más oscuro al hacer hover */
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
