<div class="login-container">
   <h1 class="style-title">
    <span class="pink">Sty</span><span class="blue">le</span>
  </h1>
    <div class="input-group">
        <input type="email" placeholder="Correo electronico">
    </div>
    <div class="input-group">
        <input type="password" placeholder="Contrasena">
    </div>
    <a href="#" class="forgot-password">¿Olvidaste tu contrasena?</a>
    <button class="login-button" (click)="navigateToPaginaPrincipal()">Iniciar sesion</button>
</div>