.body-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f9e7e7; /* Fondo rosa claro */
  padding: 2rem;
  text-align: center;
  

  .style-title {
    font-size: 2.5rem;
    color: #f06292;
    margin-bottom: 2rem;
  }

  .gender-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .gender-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;

    &.female {
      background-color: #f06292; /* Rosa para Mujer */
      color: #fff;
      margin-right: 1rem;
    }

    &.male {
      background-color: #fff; /* Blanco para Hombre */
      color: #333;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .body-image {
    width: 200px; /* Ajusta el tama침o */
    height: 250px; /* Ajusta el tama침o */
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    img {
      width: 80px; /* Ajusta el tama침o */
      height: auto;
      margin-bottom: 1rem;
    }

    .body-type-text {
      font-size: 1rem;
      color: #555;
    }
  }

  .select-button {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 25px;
    background-color: #f06292; /* Bot칩n rosa */
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  /* Media Queries para Responsividad */
  @media (max-width: 576px) {
    padding: 1.5rem;

    .style-title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    .gender-buttons {
      margin-bottom: 1.5rem;
    }

    .body-image {
      width: 150px;
      height: 200px;
      margin-bottom: 1.5rem;
    }

    .select-button {
      font-size: 1rem;
    }
  }

  @media (min-width: 768px) {
    .body-image {
      width: 250px;
      height: 300px;
    }

    .gender-button {
      font-size: 1.1rem;
    }

    .select-button {
      font-size: 1.2rem;
    }
  }
}