.style-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9e7e7; /* Fondo rosa claro */
  padding: 2rem;
  text-align: center;

  .style-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    display: flex; 
  }

  .pink {
    color: #f06292; 
  }

  .blue {
    color: #3498db; 
  }

  .style-description {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
  }

  .button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    background-color: #f06292; /* Botón rosa */
    color: #fff; /* Texto blanco */
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añadida transición para el hover */

    &:hover {
      background-color: #e0407a; /* Rosa más oscuro al hacer hover */
      transform: scale(1.05); /* Ligeramente más grande al hacer hover */
    }

    &:active {
      transform: scale(0.95); /* Ligeramente más pequeño al hacer clic */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más sutil al hacer clic */
    }
  }
}